.root {
  background: #39c7ff;
  height: 100%;
  width: 300px;
  left: -240px;
  position: fixed;
  box-shadow: 2px 0px 2px #ccc;
  transition: 300ms ease all;
}

.rootActive {
  composes: root;
  left: 0px;
}

.logo {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  cursor: pointer;
}

.logo:hover {
  background: #99e2ff;
}

.row {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
}

.navLinks ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.navLinks li {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #99e2ff;
}

.navLinks i {
  margin-right: 3px;
  font-size: 26px;
}

.navLinks .icon {
  font-size: 26px;
}

.navLinks a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;

  flex-direction: row;
  justify-content: space-between;
  padding: 20px 16px 20px 20px;
}

.navLinks a:hover,
.navLinks a:visited,
.navLinks a:active {
  color: white;
}

.navLinks li:hover {
  background: rgba(57, 199, 255, 0.7);
  background: #99e2ff;
}